.superAd{
    width:100%;
    height:100%;
    background-color:rgba(55,55,55,0.9);
}

.mainTitleAd{
    width:100%;
    height:8%;
    background-color:rgb(29,29,29);
    color:rgb(244,244,244);
    font-weight:700;
    font-size:120%;
    padding-top:1%;
    text-align:center;
}

.categoriePath{
    width:100%;
    height:6%;
    background-color:rgb(22,22,22);
    border-bottom:4px solid;
    border-color:rgb(134,0,250);
}

.categoriaAd{
    height:100%;
    min-width:5%;
    float:left;
    color:rgb(244,244,244);
    font-weight:500;
    padding-top:1%;
    padding-left:1%;
}

.categoriaAd:after{
    color:rgb(2,134,250);
    font-weight:800;
    content:">"
}

.subcategorieAd{
    height:100%;
    float:left;
    min-width:10%;
    color:rgb(244,244,244);
    font-weight:500;
    padding-top:1%;
    padding-left:1%;
}

.infoAd{
    with:100%;
    height:50%;
    background-color:rgb(44,44,44);
}

.mediaAd{
    width:50%;
    height:100%;
    float:left;
    background-color:rgb(50,50,50);
    padding:1.5%;
}

.descriptionAd_1{
    width:50%;
    height:100%;
    float:left;
}

.descriptionAd_2{ 
    with:100%;
    height:20%;
    background-color:rgb(33,33,33);  
}

.slideshowContainer{
    height:100%;
    width:100%;
    background-color:rgb(22,22,22);
}

.priceAd{
    width:100%;
    height:15%;
    background-color:rgb(22,22,22);
    color:rgb(244,244,244);
    font-size:160%;
    font-weight:700;
    padding-top:1.5%;
    padding-left:2%;
}

.priceAd:before{
    content:"$ ";
    color:rgb(0,250,134);
}

.priceAd:after{
    content:".00";
    color:rgb(0,134,250);
    font-size:50%;
    vertical-align:top;
}

.descriptionAd{
    height:55%;
    width:100%;
    background-color:rgb(33,33,33);
    color:rgb(244,244,244);
    padding:1.5%;
    text-align:justify;
    word-break:break-all;
    font-size:105%;
}

.dateAd{
    width:100%;
    height:10%;
    background-color:rgb(44,44,44);
    color:rgb(244,244,244);
    font-size:110%;
    padding-top:1%;
    padding-left:2%;
    font-weight:600;
}

.dateAd:before {
    color:rgb(250,134,0);
    content:"Vigencia: ";
}

.buyAd{
    background-color:rgb(25,25,25);
    width:100%;
    height:20%;
    padding:1%;
}

.stockAd{
    float:left;
    height:100%;
    width:30%;
    background-color:transparent;
    padding:2%;
}

.-Button_1,
.-Button_2{
    float:left;
    height:100%;
    width:25%;
    background-color:rgb(0,134,250);
    color:rgb(19,19,19);
    font-weight:600;
    font-size:200%;
    text-align:center;
    padding-top:1%;
    -webkit-transition: all 0.2s ease;
    -moz-transition:    all 0.2s ease;
    -o-transition:      all 0.2s ease;
    -ms-transition:     all 0.2s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.-Button_1:hover,
.-Button_2:hover{
    cursor:pointer;
    filter:brightness(120%);
    -moz-filter:brightness(120%);
    -o-filter:brightness(120%);
    -webkit-filter:brightness(120%);
}

.-Button_1:active,
.-Button_2:active{
    cursor:pointer;
    filter:invert(0%);
    font-size:190%;
    -moz-filter:brightness(150%);
    -o-filter:brightness(150%);
    -webkit-filter:brightness(150%);
}



.-Button_1{
    border-top-left-radius:5px;
    border-bottom-left-radius:5px
}

.-Button_2{
    border-top-right-radius:5px;
    border-bottom-right-radius:5px
}

.-stock{
    float:left;
    height:100%;
    width:50%;
    background-color:rgb(40,40,40);
    border-radius:0px;
    color:rgb(244,244,244);
    font-size:150%;
    text-align:center;
    padding-top:5%;
    font-weight:600;
}

.buyButton{
    margin-left:20%;
    float:left;
    height:100%;
    width:40%;
    background-color:transparent; 
    padding:2%;
}

.buyButtonInput{
    width:100%;
    height:100%;
    color:rgb(244,244,244);
    text-align:center;
    font-weight:600;
    font-size:150%;
    padding-top:2%;
    background-color:rgb(44,44,44);
    border-radius:5px;
    -webkit-transition: all 0.2s ease;
    -moz-transition:    all 0.2s ease;
    -o-transition:      all 0.2s ease;
    -ms-transition:     all 0.2s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.buyButtonInput:hover{
    cursor:pointer;
    background-color:rgb(0,250,134);
    color:rgb(22,22,22);
}

.buyButtonInput:active{
    font-size:160%;
    filter:brightness(120%);
    -moz-filter:brightness(120%);
    -o-filter:brightness(120%);
    -webkit-filter:brightness(120%);
}

.slideshow{
    height:100%;
    width:100%;
    position: relative;
    overflow: hidden;
}

.absoluteSlide{
    height:100%;
    min-width:100%;
    /*-webkit-transition: all 0.2s ease;
    -moz-transition:    all 0.2s ease;
    -o-transition:      all 0.2s ease;
    -ms-transition:     all 0.2s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;*/
}

.media{
    height:100%;
    width:50%;
    float:left;
    background:rgb(44,44,44);
}

.mediaSrc{
    width:100%;
    height:100%;
}

.rightSlide,
.leftSlide{
    position:absolute;
    top:40%;
    width:10%;
    height:20%;
    background-color:rgba(22,22,22,0.8);
    color:rgb(200,200,200);
    font-size:200%;
    font-weight:bolder;
    text-align:center;
    padding-top:2%;
    -webkit-transition: all 0.2s ease;
    -moz-transition:    all 0.2s ease;
    -o-transition:      all 0.2s ease;
    -ms-transition:     all 0.2s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    opacity:0;
}

.rightSlide:hover,
.leftSlide:hover{
    cursor:pointer;
    color:rgb(244,244,244);
}

.rightSlide:active,
.leftSlide:active{
    background-color:rgba(5,5,5,0.5);
}

.slideshow:hover .leftSlide{
    opacity:1;
}
.slideshow:hover .rightSlide{
    opacity:1;
}




.rightSlide{
    right:0%;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
}

.leftSlide{
    left:0%;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
}

.questionHeader{
    width:100%;
    height:8%;
    padding:1%;
    background-color:rgb(22,22,22);
}

.questionAdInput{
    float:left;
    height:100%;
    width:40%;
}

.questionButton{
    float:left;
    margin-left:5%;
    height:100%;
    width:30%;
    background-color:rgb(0,134,250);
    color:rgb(22,22,22);
    font-size:110%;
    text-align:center;
    padding-top:0.5%;
    border-radius:5px;
    -webkit-transition: all 0.2s ease;
    -moz-transition:    all 0.2s ease;
    -o-transition:      all 0.2s ease;
    -ms-transition:     all 0.2s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.questionButton:hover{
    cursor:pointer;
    filter: brightness(120%);
    -webkit-filter: brightness(120%);
    -moz-filter: brightness(120%);
    -o-filter: brightness(120%);
    color:rgb(244,244,244);
}

.questionButton:active{
    font-size:120%;
}

.questionsContainer{
    height:28%;
    width:100%;
    padding-top:2%;
    overflow:hidden;
    position:relative;
}

.questionAd {
    width:100%;
    height:50%;
    background-color:rgba(33,33,33,0.5);
    margin-bottom:2%;
}

.questionAd .question{
    height:50%;
    width:100%;
    background-color:rgb(25,25,25);
    color:rgb(0,240,134);
    padding:1%;
    font-size:90%;
}

.questionAd .answer{
    height:50%;
    width:90%;
    border-bottom-right-radius:15px;
    background-color:rgb(64,64,64);
    color:rgb(244,244,244);
    padding:1%;
    font-size:90%;
}

.superSale{
    position:absolute;
    height:100%;
    width:100%;
    background-color:rgba(0,0,0,0.8);
    z-index:10;
    padding:8%;
    padding-left:20%;
    padding-right:20%;
}

.saleContainer{
    width:100%;
    height:100%;
    background-color:rgb(55,55,55);
    border-radius:10px;
}

.headerSale{
    text-align:center;
    font-size:130%;
    padding-top:0.8%;
    height:8%;
    color:rgb(244,244,244);
    background-color:rgb(22,22,22);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

.headerSale:before{
    content:"Compra de :   ";
    color:rgb(0,134,250);
}

.headerSale:after{
    content:"    (10) ";
    color:rgb(0,134,134);   
}

.saleContainer .sale{
    margin-top:2%;
    width:90%;
    margin-left:5%;
    height:84%;
    background:rgb(33,33,33);
}

.leftColumnSale,
.rightColumnSale{
    float:left;
    width:50%;
    height:100%;
    padding:2%;
}

.saleInfo{
    height:10%;
    width:100%;
    margin-bottom:5%;
}


.body1SaleInfo,
.body2SaleInfo{
    float:left;
    height:100%;
    color:rgb(244,244,244);
    font-weight:600;
    text-align:center;
}

.body1SaleInfo{
    padding-top:2%;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    width:40%;
    background:rgb(22,22,22);
}

.textSale{
    padding-top:2%;
}
.moneySale:before{
    content:"  $  ";
    color:rgb(0,134,250);
}
.moneySale:after{
    content:".00";
    color:rgb(250,134,0);
}

.body2SaleInfo{
    text-align:left;
    background-color:rgb(55,55,55);
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    width:60%;
}

.selectPay{
    width:100%;
    height:100%;
    border-radius:5px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    color:rgb(22,22,22);
}

.imgSale{
    width:100%;
    height:80%;
    margin-top:10%;
    background-color:rgb(22,22,22);
}
.imgSaleSrc{
    width:100%;
    height:100%;
    border-radius:10px;
}
.saleAction{
    height:10%;
    width:100%;
    margin-bottom:5%;
}

.action1SaleInfo,
.action2SaleInfo{
    float:left;
    height:100%;
    color:rgb(244,244,244);
    font-weight:600;
    text-align:center;
    padding-top:2%;
    -webkit-transition: all 0.2s ease;
    -moz-transition:    all 0.2s ease;
    -o-transition:      all 0.2s ease;
    -ms-transition:     all 0.2s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.action1SaleInfo{
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    width:40%;
    background:rgb(22,22,22);
}

.action2SaleInfo{
    background-color:rgb(66,66,66);
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    width:60%;
}

.action1SaleInfo:hover{
    cursor:pointer;
    background-color:rgb(255,70,70);
    color:rgb(22,22,22);
}
.action1SaleInfo:active{
    font-size:110%;
}

.action2SaleInfo:hover{
    cursor:pointer;
    background-color:rgb(0,250,134);
    color:rgb(22,22,22);
}
.action2SaleInfo:active{
    font-size:110%;
}
