.superCategories{
    width:100%;
    height:100%;
    background-color:rgba(55,55,55,0.9);
}

.categorie {
    width:100%;
    height:5%;
    background-color:rgb(33,33,33);
    color:rgb(244,244,244);
    font-size:125%;
    font-family:"open sans";
    font-weight:600;
    text-align:center;
    margin-bottom:2.5%;
    padding-top:2.5%;
    -webkit-transition: all 0.2s ease;
    -moz-transition:    all 0.2s ease;
    -o-transition:      all 0.2s ease;
    -ms-transition:     all 0.2s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;	
}

.categorie:hover{
    font-size:135%;
    cursor:pointer;
}

.categorie:active{
    -moz-filterinvert(100%);
    -webkit-filter:invert(100%);
    -moz-filter:invert(100%);
    -o-filter:invert(100%);
    filter:invert(100%);
}

.subcategorie {
    width:100%;
    height:3.5%;
    background-color:rgb(120,120,120);
    color:rgb(19,19,19);
    font-size:100%;
    font-family:"open sans";
    font-weight:600;
    text-align:center;
    margin-bottom:2.5%;
    padding-top:1%;
    -webkit-transition: all 0.2s ease;
    -moz-transition:    all 0.2s ease;
    -o-transition:      all 0.2s ease;
    -ms-transition:     all 0.2s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.subcategorie:hover{
    font-size:95%;
    cursor:pointer;
}

.subcategorie:active{
    -moz-filter:invert(100%);
    -webkit-filter:invert(100%);
    -moz-filter:invert(100%);
    -o-filter:invert(100%);
    filter:invert(100%);
}