@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,800,700,600);

body{
	background-color:rgb(33,33,33);
}

.bgBody{
	position:fixed;
    width:100%;
	opacity:0.5;
}

.superHeader{
	font-family:"Open Sans";
	float:none;
	clear:both;
	position:absolute;
	width:95%;
	height:25%;
	/*min-height:223px;*/
	margin-left: 2.5%;
	z-index:10;
    pointer-events: none;
}

.headerContainer{
	width:100%;
	height:25%;
	clear:both;
	background-color:rgb(45,45,45);
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
    pointer-events: all;
}

.expandContainer{
	width:100%;
	height:75%;
	clear:both;
    pointer-events: none;
}

.logoContainer{
	float:left;
	width:5%;
	height:100%;
}
.logoContainer .logo{
	margin-left:5%;
	height:90%
}

.extraContainer_1{
	float:left;
	width:4%;
	height:100%;
}

.extraContainer_2{
	float:left;
	width:10%;
	height:100%;
}

.extraContainer_3{
	float:left;
	width:4%;
	height:100%;
}

/* Estilos de barra buscadora ---------------------------------------------- */
.searchBarContainer{
	position:relative;
	float:left;
	width:40%;
	height:100%;
	padding:8px;
	padding-right:15px;
	padding-left:15px;
}

.searchBarContainer .searchBar{
	height:100%;
	width:100%;
}

.searchBarContainer .searchBar>.input{
	float:left;
	height:100%;
	width:80%;
}
.searchBarContainer .searchBar>.more{
	float:left;
	height:100%;
	width:10%;
}
.searchBarContainer .searchBar>.go{
	float:left;
	height:100%;
	width:10%;
}
.inputText{
	width:100%;
	height:100%;
	border-top-right-radius:0px!important;
	border-bottom-right-radius:0px!important;
}
.boton_1{
	color:rgb(51,51,51);
	font-weight:bold;
	height:100%;
	width:100%;
	border-radius:0px!important;
    padding-top:0%;
}
.boton_1:hover{
	color:rgb(64,64,64);
}

.boton_2{
	color:rgb(240,240,240);
	font-weight:bold;
	height:100%;
	width:100%;
	border-top-left-radius:0px!important;
	border-bottom-left-radius:0px!important;
    padding-top:0%;
}
.boton_2:hover{
	color:rgb(200,200,200);
}

.igmTool,.imgSearch{
    margin-top:7.5%;
    width:85%;
    transition: transform .5s;
}

.boton_1:hover .igmTool,
.boton_2:hover .imgSearch{
	cursor:pointer;
	transform: scale(1.1);
	-o-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-webkit-transform:scale(1.1);
    transform: rotate(360deg);
    -o-transform:rotate(360deg);	
    -moz-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}

.igmTool:active,.imgSearch:active{
	filter: invert(100%);
	-o-filter:invert(100%);
    -moz-filter:invert(100%);
    -webkit-filter: invert(100%);
}

.imgLogo{
    height:100%;
    transition: transform .5s;
}

.imgLogo {
    background-color: rgb(0,0,0);
    border: 1px solid;
    transition: transform 1s;
    border-radius:60px;
}

.imgLogo:hover {
    cursor:pointer;
    position: inherit;
    transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.imgLogo:active {
	filter: blur(1px);
	-o-filter: blur(1px);
	-moz-filter: blur(1px);
    -webkit-filter: blur(1px);
}

/* Estilos de registro de nuevo usuario ---------------------------------------------- */

.registerContainer {
	float:left;
	width:10%;
	height:100%;
	padding:8px;
}

.registerContainer .register{
	height:100%;
	width:100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.registerContainer .register:hover{
	cursor:pointer;
}


.signup{
	border-top-left-radius:8px;
	border-bottom-left-radius:8px;
	height:100%;
	width:30%;
	float:left;
	background-color:rgb(100,100,100);
}

.signupMessage {
	border-top-right-radius:8px;
	border-bottom-right-radius:8px;
	height:100%;
	width:70%;
	float:left;
	background-color:rgb(100,100,100);
	font-weight:bolder;
	padding-top:6%;
    padding-left:3%;
	font-size:100%;
    text-align:left;
	color:rgb(240,240,240);
}

.signupMessage:hover{
	color:rgb(255,255,255);
}

.signupMessage:active{
	font-size:105%;
}

.imgSignup{
	height:100%;
	transition: transform 1s;
}


.register:hover .imgSignup{
	transform:rotate(45deg);
	-o-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
}

.register:active .imgSignup{
	filter:contrast(110%);
	-o-filter:contrast(110%);
	-moz-filter:contrast(110%);
	-webkit-filter:contrast(110%);
}
/* Estilos de inicio de sesion ------------------------------------------- */
.loginContainer{
	float:left;
	width:12%;
	height:100%;
	padding:6px;
}

.login{
	height:100%;
	width:100%;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.loginLock{
	float:left;
	height:100%;
	width:25%;
	background-color:rgb(80,80,80);
	border-top-left-radius:50px;
	border-bottom-left-radius:50px;
}

.loginMessage{
	float:left;
	height:100%;
	width:75%;
	background-color:rgb(80,80,80);
	font-size:100%;
	font-weight:bolder;
	border-top-right-radius:50px;
	border-bottom-right-radius:50px;
	padding-top:6%;
	text-align:center;
	color:rgb(220,220,220);
}

.imgLock{
	height:100%;
	transition:-webkit-filter 2s;
}

.login:hover .loginMessage{
	cursor:pointer;
	color:rgb(255,255,255);
}
.login:hover .imgLock{
	cursor:pointer;
	-o-filter: hue-rotate(70deg);
	-moz-filter: hue-rotate(70deg);
	-webkit-filter: hue-rotate(70deg);
    filter: hue-rotate(70deg);
}

.login:active .loginMessage{
	opacity:0.8;
	font-size:105%;
}

.login:active .loginLock{
	font-size:105%;
	background-color:rgba(80,80,80,0.8);
}

/* Estilos de sesion ---------------------------------------------- */
.sessionContainer{
	float:left;
	width:15%;
	height:100%;
	padding:8px;
}

.sessionContainer .session{
	height:100%;
	width:100%;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.profilePic{
	float:left;
	width:20%;
	height:100%;
}
.profileName{
	float:left;
	width:65%;
	background-color:rgb(64,64,64);
	height:100%;
	font-weight:bolder;
	padding-top:4%;
	font-size:100%;
	color:rgb(220,220,220);
	text-align:center;
	border-bottom-left-radius:5px!important;
	border-top-left-radius:5px!important;
}

.profileName:hover{
	color:rgb(255,255,255);
	cursor:pointer;
}
.profileName:active{
	font-size:105%;
}

.profileMore{
	position:relative;
	float:left;
	width:15%;
	height:100%;
	border-bottom-left-radius:0px!important;
	border-top-left-radius:0px!important;
	padding:0px!important;
    border:none !important;
    background-color:rgb(33,33,33) !important;
}

.imgProfile{
	height:100%;
	transition:transform 1s;
	border-radius:60px;
}

.imgMore{
	height:100%;
    margin-left:-7%;
	transition:transform 0.5s;
}

.imgProfile:hover{
	cursor:pointer;
    transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.imgProfile:active{
	cursor:pointer;
	transition:transform 0s;
    transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
}
/*
.profileMore:hover .imgMore{
	cursor:pointer;
    transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
*/

/* ----------------------------------------------------------Estilos expandidos -----------------------------------------------------------------------*/
.invisible_1{
	float:left;
	width:5%;
	height:100%;
	background-color:BlueViolet;
	opacity:0.0;
}


/*Estilo de la expancion de busqueda -----------------------------*/
.searchBarExtraContainer{
	float:left;
	width:40%;
	height:100%;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border:5px solid;
	border-top:0px;
	border-color:rgb(45,45,45);
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: all;
}
.xsearchBarExtraContainer{
	float:left;
	width:40%;
	height:100%;
    pointer-events: none;
}
.tabContainer{
	width:100%;
	height:20%;
	background-color:rgb(33,33,33);
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.tab_1{
	float:left;
	height:100%;
	width:15%;
	background-color:#649DA0;
	padding-top:1%;
	font-size:80%;
	color:white;
    text-align:center;
	border-top-left-radius:5px;
    overflow:hidden;
}
.tab_2{
	float:left;
	height:100%;
	width:15%;
	padding-top:1%;
    font-size:80%;
    text-align:center;
	background-color:#545f60;
	color:#D3FEF5;
}
.tab_3{
	float:left;
	height:100%;
	width:15%;
	padding-top:1%;
    font-size:80%;
    text-align:center;
	background-color:#545f60;
	color:#D3FEF5;
	border-top-right-radius:5px;
}
.tab_3:hover,.tab_2:hover,.tab_1:hover{
	opacity:0.8;
	cursor:pointer;
}
.tabPager{
	width:100%;
	height:80%;
	background-color:red;
}
.tab_reset{
	float:right;
	height:100%;
	width:10%;
	padding-top:1%;
    font-size:80%;
    text-align:center;
	background-color:#2d9681;
	color:white;
	border-radius:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.tab_reset:hover{
	opacity:0.9;
	cursor:pointer;
	color:white;
}

/*Pagina1*/
.page_1{
	width:100%;
	height:100%;
	background-color:rgb(70,70,70);
	padding:1%;
	padding-right:11%;
	padding-left:3%;
}
.searchInputContainer{
	width:100%;
	height:20%;
	margin:1%;
    margin-top:2%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.searchInput{
	float:left;
	width:90%;
	margin-right:1%;
	height:100%;
}
.checkContainer{
	float:left;
	width:8%;
	height:100%;
}
.inputContainer{
	float:left;
	width:50%;
	height:100%;
}
.verifySearchContainer{
	float:left;
	width:8%;
	height:100%;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	background-color:#60addd;
}
.inputSearchTag{
	width:100%;
	height:100%;
    font-size:85%;
	border-radius:0px!important;
}
/*Pagina2*/
.page_2{
	width:100%;
	height:100%;
	background-color:rgb(80,80,80);
	padding:1%;
	padding-left:4%;
	padding-right:5%;
}
.rangeSearch{
	width:100%;
	height:25%;
	margin-top:1%;
    margin-top:2.5%;
}
.checkContainerRange{
	float:left;
	width:9%;
	height:100%;
}
.titleContainerRange{
	float:left;
	width:24%;
	height:100%;
	background-color:rgb(55,55,55);
	padding-top:0.5%;
    text-align:center;
	font-size:80%;
	color:rgb(240,240,240);
	font-weight:300;
    overflow:hidden;
}
.rangeOne,.rangeTwo{
	float:left;
	width:30%;
	height:100%;
	color:rgb(240,240,240);
	font-weight:300;
}
.moneyCharContainer{
	float:left;
	height:100%;
	width:10%;
	font-size:120%;
    padding-top:1%;
    text-align:center;
	background-color:#2d9681;
	color:rgb(19,19,19);
	font-weight:500;
}
.priceContainer{
	float:left;
	height:100%;
	width:90%;
}
.interRange{
	float:left;
	width:5%;
	height:100%;
	background-color:rgb(55,55,55);
	padding-top:1%;
	text-align:center;
	color:rgb(240,240,240);
	font-weight:500;
}

.rangeOneInput,.rangeTwoInput{
	height:100%;
	width:100%;
	border-radius:0px;
}

.verifyRange{
	float:left;
	height:100%;
	width:2%;
	background-color:#60addd;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}

/*Pagina3*/
.page_3{
	width:100%;
	height:100%;
	background-color:#404040;
	padding:1%;
	padding-right:8%;
	padding-left:4%;
}
.topSearch{
	width:100%;
	height:30%;
	margin-top:2%;		
}
.top_1Container{
	float:left;
	margin-right:5%;
	width:45%;
	height:100%;
}
.top_2Container{
	float:left;
	margin-left:5%;
	width:45%;
	height:100%;
}
.topCheckbox{
	float:left;
	width:10%;
	height:100%;
}
.topInput{
	float:left;
	width:25%;
	height:100%;
}
.toptitle{
	float:left;
	width:65%;
	height:100%;
	background-color:rgb(55,55,55);
	color:rgb(200,200,200);
	border-bottom-right-radius:5px;
	border-top-right-radius:5px;
	padding:1.6%;
}
.topInputText{
	height:100%;
	width:100%;
	border-radius:0px;
}

/*Estilo de la expancion de registro -----------------------------*/
.xregisterExpandContainer{
	width:20%;
	height:100%;
	float:left;
    pointer-events: none;
}
.registerExpandContainer{
	float:left;
	width:20%;
	height:170%;
	background-color:#3d70b6;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border:5px solid;
	border-top:0px;
	border-color:rgb(45,45,45);
	padding:0.5%;
    pointer-events: all;
}

.registerExpand{
	width:100%;
	height:100%;
}

.registerInput{
	width:100%;
	height:13%;
	margin-bottom:1.5%;
}
.registerTitle{
	float:left;
	height:100%;
	width:25%;
	background-color:rgb(51,51,51);
	color:rgb(240,240,240);
	padding-top:2.5%;
	padding-left:1%;
	font-size:75%;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}

.registerProfilePicture,
.registerName,
.registerNick,
.registerEmail,
.registerPhone,
.registerPassword{
	float:left;
	height:100%;
	width:70%;
}

.firstName,.firstPassword{
	float:left;
	height:100%;
	width:50%;
}
.lastName,.lastPassword{
	float:left;
	height:100%;
	width:50%;
}

.verify{
	float:left;
	height:100%;
	width:5%;
	background-color:#60addd;
	padding-top:2.5%;
	padding-left:1%;
	border-bottom-right-radius:5px;
	border-top-right-radius:5px;
}

.phoneInput,
.emailInput,
.firstNameInput,
.lastNameInput,
.nickInput,
.firstPassInput,
.lastPassInput{
	width:100%;
	height:100%;
	border-radius:0px !important;
    font-size:80%;
} 

.registerResult{
	float:left;
	height:100%;
	width:75%;
	background-color:rgb(245,245,245);
	padding-left:1%;
    font-size:80%;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
    overflow:hidden;
}
.registerSend{
	float:left;
	height:100%;
	width:25%;
	padding-top:2%;
	padding-left:1%;
	font-size:80%;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	
}

/* Login Expand--------------------------------------------------*/
.xloginExpandContainer{
	float:left;
	width:16%;
	height:100%;
    -webkit-pointer-events: none;
    -khtml-pointer-events: none;
    -moz-pointer-events: none;
    -o-pointer-events: none;
    -ms-pointer-events: none;
}
.loginExpandContainer{
	float:left;
	width:16%;
	height:100%;
	background-color:#645188;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border:5px solid;
	border-top:0px;
	border-color:rgb(45,45,45);
	padding:0.5%;
    pointer-events: all;
}

.loginExpand{
	width:100%;
	height:100%;
}

.loginInputSmall{
	width:100%;
	height:5%
}
.loginInput{
	width:100%;
	height:28%;
	margin-bottom:2%;
}
.loginInputTitle{
	float:left;
	height:100%;
	width:30%;
	background-color:rgb(51,51,51);
	color:rgb(240,240,240);
	padding-top:2.5%;
	padding-left:1%;
	font-size:80%;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}

.userName,.userPassword{
	float:left;
	width:70%;
	height:100%;
}

.messageLogin{
	float:left;
	height:100%;
	width:70%;
	padding-top:1%;
	padding-left:1%;
	font-size:80%;
    overflow:hidden;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	background-color:rgb(245,245,245);
}
.loginbuttom{
	float:left;
	height:100%;
	width:25%;
	border-radius:0px;
    font-size:90%;
    text-align:left;
}
.verifyLogin{
	float:left;
	height:100%;
	width:5%;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	background-color:#60addd;
}

.userNameInput,.userPasswordInput{
	border-radius:0px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	height:100%;
	width:100%;
}

/* Session Expand--------------------------------------------------*/
.xsessionExtraContainer{
	float:left;
	width:15%;
	height:100%;
    pointer-events: none;
    -webkit-pointer-events: none;
    -khtml-pointer-events: none;
    -moz-pointer-events: none;
    -o-pointer-events: none;
    -ms-pointer-events: none;
}
.sessionExtraContainer{
	float:left;
	width:15%;
	height:50%;
	border:5px solid;
	border-top:0px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	/*background-color:rgb(180,180,180);*/
	border-color:rgb(45,45,45);
	background-color:DarkCyan ;
	padding:0.5%;
	padding-right:0%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;	
    pointer-events: all;
}

.extraSessionContainer{
	width:100%;
	height:49%;
	margin-bottom:2%;
}
.action_1:hover,.action_2:hover{
	cursor:pointer;
	color:rgb(255,255,255);
	font-weight:bold;
}
.action_1:active,.action_2:active{
	opacity:0.9;
}
.imgExtraSession{
	transition: all 2s;
	-o-transition: all 2s;
	-moz-transition: all 2s;
	-webkit-transition: all 2s;
}
.action_1:hover .imgExtraSession{
	transform:rotate(512deg);
	-o-transform:rotate(512deg);
	-moz-transform:rotate(512deg);
	-webkit-transform:rotate(512deg);
}
.action_2:hover .imgExtraSession{
	filter:invert(100%);
	-o-filter:invert(100%);
	-moz-filter:invert(100%);
	-webkit-filter:invert(100%);
}
.imgSessionConfig{
	float:left;
	height:100%;
	width:15%;
	background-color:rgb(33,33,33);
	border-bottom-left-radius:50px;
	border-top-left-radius:50px;
}
.sessionConfig{
	float:left;
	height:100%;
	width:85%;
	background-color:rgb(33,33,33);
	color:rgb(219,219,219);
	text-align:center;
	padding-top:2.5%;
}
.imgExtraSession{
	height:100%;
}

/* -------------------------------ERROR-*/
.errorBox{
	position:fixed;
	right:0%;
	bottom:-20%;
	margin:1%;
	height:17%;
	width:15%;
	background-color:#007777;
	border-radius:5px;
	overflow:hidden;
	padding:0.5%;
	padding-right:0.7%;
	font-family:"Open Sans";
	color:rgb(33,33,33);
	box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    z-index:150;
}

.superError{
    width:100%;
}

.errorContainer {
	padding:1%;
	width:100%;
	min-height:20%;
	background-color:rgba(0,89,89,0.4);
	border-radius:5px;
	margin-bottom:1%;
	font-weight:bold;
    font-size:90%;
}

/*---------------------------------------------------------------------
----------------------------------------------------------------------*/
.invisible_2{
	float:left;
	width:2%;
	height:100%;
	background-color:Violet;
	opacity:0.0;
}
.invisible_3{
	float:left;
	width:2%;
	height:100%;
	background-color:Blue;
	opacity:0.0;
}

