.sqr{
    width:100% !important;
    height:100% !important;
}
.wdt{
    width:100% !important;
}
.hgt{
    height:100% !important;
}

.hoverSqr {
    margin-top:0px !important;
    margin-left:0px !important;
    width:100% !important;
    height:100% !important;
}