form {
  	margin:0 auto;
	width:100%;
	height:100%;
	overflow:hidden;
	background:#FFFFFF;
}

.fileInput {
    float:left;
    margin:0;
    padding-top:4%;
    padding-left:5%;
    width:100% !important;
    height:100%  !important;
    background-color:rgb(245,245,245);
    color:rgb(15,15,15);
    border:none;
    cursor:pointer;
    text-align:left;
    -webkit-transition:0.2s ease all;
       -moz-transition:0.2s ease all;
        -ms-transition:0.2s ease all;
         -o-transition:0.2s ease all;
            transition:0.2s ease all;
    font-size:90%;
    font-weight:500;
    font-family:"Open Sans";
}

.fileInput:hover {
    background:#ADADAD;
}

.fileInput[type=file]{
    display:none;
}

input[name="file"]{
	display:none;
}
