input[type='radio'].radio {
	display:block;
	margin: 0 auto;
	margin-bottom: 10px;
	-moz-appearance: button;
	-webkit-appearance: button;
	border:none;
	background-color: #ccc;
	width: 100%;
	height: 100%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: inset 0 1px 4px rgba(0,0,0,.2);
	cursor: pointer;
	position: relative;
	transition: background-color 1s;
}
input[type='radio'].error{
   background-color: #c63d3d;
}
input[type='radio'].radio:after{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 45%;
	height: 80%;
	background-color: #fdfdfd;
	margin: 4%;
	border-radius: 15px;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	  
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );

	transition: .5s all;
}

input[type='radio'].radio{
	outline:0;!important;
}

input[type='radio'].radio:checked{
	background-color: rgb(134,0,250);
} 

input[type='radio'].radio:checked:after {
	left: 45%;
}